.center {
  width: 50%;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

h3.center {
  text-align: center;
}

div.upload {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 157px;
  height: 57px;
  background: url(../img/upload.png);
  overflow: hidden;
}

div.upload input {
  display: block;
  width: 157px;
  height: 57px;
  opacity: 0;
  overflow: hidden;
}